/*
Copyright 2014 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
*/

* {
	font-family: arial;
	font-size: 16px;
}

h3 {
	font-size: 25px;
	margin-top: 0;
	text-align: center;
	color: royalblue;
}

body {
	line-height: 200%;
	min-width: 235px;
	padding: 10px;
	white-space: nowrap;
	overflow-x: hidden;
	background-color: #E6E6FA;
}

.big-button {
	width: 100%;
	margin-top: 30px;
	background-color: aliceblue;
}

.small-button {
	width: 49%;
	margin-top: 5px;
	background-color: aliceblue;
}

/*dropdown*/
select {
	display: table-cell; 
	vertical-align: middle;
	float: right;
	border: none;
	background: white;
	border-radius:4px;
	margin-top:3px;
	margin-left: 10px;
}

form {
	display:table;
	border-collapse: separate;
	min-width: 100%;
}

/*div around each option line*/
.line {
	white-space: nowrap;
	overflow: auto;
	display:table-row;
}

.line div {
	display: table-cell;
	vertical-align: middle;
}