/*
Copyright 2014 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
*/

* {
	font-family: arial;
	font-size: 16px;
}

h3 {
	font-size: 25px;
	margin-top: 0;
	text-align: center;
	color: royalblue;
}

body {
	line-height: 200%;
	min-width: 235px;
	padding: 10px;
	white-space: nowrap;
	overflow-x: hidden;
	background-color: #E6E6FA;
}

select {
	position: relative;
	float:right;
	border: none;
	background: white;
	width: 90px;
	border-radius:4px;
	margin-top:3px;
}

button {
	width: 100%;
	margin-top: 30px;
	background-color: white;
}

form span {
	position:relative;
	height:100%;
	vertical-align: middle;
}